body{
  background-color: #E8F6EF;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 10%;
}
h1{
  color : #66BFBF;
}
h2{
  color : #66BFBF;
}
h3{
  color : #66BFBF;
}
a
{
  color : #476072;
}
img {
  background-color: #66BFBF;
}
